@import "/home/nick/.cache/wal/colors-waybar.css";

button, label, image {
    background: none;
    border: 2px solid rgba(200, 200, 200, 0);
    box-shadow: none;
    color: @color5;
}

button {
    padding: 5px;
    margin: 5px
}

button:hover {
    background-color: @background;
}

button:focus {
    border: 2px solid @color6;
}

#searchbox {
    background: none;
    border-color: @color6;
    color: @color4;
    margin-top: 20px;
    margin-bottom: 20px
}

#separator {
    background-color: rgba(200, 200, 200, 0.5);
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 10px;
    margin-bottom: 10px
}

#description {
    margin-bottom: 20px
}
