autostart/
bpytop/
cef_user_data/
Code Industry/
code-oss/
Code - OSS/
dconf/
discord/
Electron/
evolution/
fontconfig/
font-manager/
galculator/
geary/
gedit/
GIMP/
goa-1.0/
gtk-2.0/
htop/
ibus/
Insync/
libreoffice/
matplotlib/
mimeapps.list
mpv/
obs-studio/
pavucontrol.ini
pipewire/
procps/
pulse/
QtProject.conf
Slack/
systemd/
Thunar/
torbrowser/
transmission/
unity3d/
user-dirs.dirs
user-dirs.locale
vivaldi/
xfce4/
yay/
zoomus.conf
yapa/
yapa
gtk-3.0/bookmarks
sqlitebrowser/
configstore/
eog/
lutris/
menus/
oomox/
inkscape/
