BraveSoftware/
Code\ -\ OSS/
GIMP/
Insync/
Mousepad/
Slack/
Unknown\ Organization/
autostart/
catfish/
cawbird/
cef_user_data/
configstore/
dconf/
discord/
enchant/
evolution/
filezilla/
fontconfig/
geary/
gtk-2.0/
gtk-3.0/bookmarks
gtk-4.0/
htop/
libfm/
lxsession
lxsession-default-apps/
mimeapps.list
pavucontrol.ini
pcmanfm/
pulse/
ristretto/
scummvm/
spicetify/
spotify-tui/
spotify/
spotifyd/
unity3d/
user-dirs.dirs
user-dirs.locale
xfce4/
yay/
zoomus.conf
org.gabmus.giara.json
font-manager/
BetterDiscord/
Code\ Industry/
inkscape/
libreoffice/
evince/
Thunar/
transmission/
pipewire-media-session/
systemd/
gedit/
