[Unit]
Description=Check for Pacman and AUR/git package updates

[Service]
Type=oneshot
WorkingDirectory=/home/nick/.config/waybar/modules/updates
ExecStart=go run /home/nick/.config/waybar/modules/updates/update-check.go