.window-frame, .window-frame:backdrop {
	box-shadow: none;
	border-style: none;
	margin: 0;
	border-radius: 0px;
}

.titlebar,
.titlebar .background {
	border-radius: 0px;
	box-shadow: none;
}

.window-frame.csd.popup {
       box-shadow: none;
}

.header-bar {
	background-image: none;
	background-color: #061921;
	box-shadow: none;
}

