@import "/home/nick/.cache/wal/colors-waybar.css";

#window {
	border-radius: 10px;
	border: 2px solid @color1;
}

#text {
	color: #8fbcbb;
	font-family: "Kanit Regular";
	text-shadow: 1px 1px 1px @background;
}

#outer-box {
  padding: 5px;
  margin: 10px
}

#inner-box {
  padding-top: 5px;
}

#img {
  margin-right: 5px;
}
