#window {
	border-radius: 10px;
	border: 2px solid #5e81ac;
}

#text {
	color: #8fbcbb;
	font-family: "Kanit Regular";
	text-shadow: 1px 1px 1px #2e3440;
}

#outer-box {
  padding: 5px;
  margin: 10px
}

#inner-box {
  padding-top: 5px;
}

#img {
  margin-right: 5px;
}
